.ipynb_checkpoints
.DS_Store
*.log
*.pyc
__pycache__
# 工具篇/torch_learning/ModelExample/image_classification/CIFAR10/data
# 工具篇/torch_learning/ModelExample/image_classification/DigitRecognizer/data
data
.idea
*cased_L-12_H-768_A-12*
算法篇/NLP/papers/

